html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
}

body > * {
  margin: 2em;
}

.placeholder {
  background-color: gray;
  text-align: center;
  padding: 2em;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}
